openapi: 3.0.3
info:
  title: Common Models
  version: 1.0.1
servers:
  - url: https://api.integrationos.com/v1/unified
paths:
  /customers/{id}:
    summary: Get a single record
    get:
      tags:
        - Customers
      summary: Get customers
      description: Get a single customers record
      parameters:
        - in: path
          name: id
          description: The id of the model
          required: true
          deprecated: false
          schema:
            type: string
            format: string
            minLength: 30
            maxLength: 50
          example: cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    format: success | failure
                    minLength: 30
                    maxLength: 50
                  statusCode:
                    type: integer
                    format: int32
                    enum:
                      - 200
                      - 400
                      - 500
                  unified:
                    type: object
                    properties:
                      id:
                        type: string
                        format: id
                      title:
                        type: string
                        format: title
                      fullName:
                        type: string
                        format: fullName
                      firstName:
                        type: string
                        format: firstName
                      middleName:
                        type: string
                        format: middleName
                      lastName:
                        type: string
                        format: lastName
                      email:
                        type: string
                        format: email
                      phoneNumber:
                        type: string
                        format: phoneNumber
                      dateOfBirth:
                        type: number
                        format: '1234567890'
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            contactId:
                              type: string
                            accountId:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            name:
                              type: string
                            companyName:
                              type: string
                            email:
                              type: string
                            phone:
                              type: string
                            street:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                            province:
                              type: string
                            region:
                              type: string
                            postalCode:
                              type: string
                            postalCodeExtension:
                              type: string
                            country:
                              type: string
                            countryCode:
                              type: string
                            type:
                              type: string
                              format: ''
                              enum:
                                - home
                                - work
                                - other
                            geoLocation:
                              type: object
                            customFields:
                              type: array
                              items:
                                type: object
                            subdivisionCode:
                              type: string
                      defaultAddress:
                        type: object
                        properties:
                          id:
                            type: string
                          contactId:
                            type: string
                          accountId:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                          name:
                            type: string
                          companyName:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
                          street:
                            type: string
                          addressLine2:
                            type: string
                          city:
                            type: string
                          province:
                            type: string
                          region:
                            type: string
                          postalCode:
                            type: string
                          postalCodeExtension:
                            type: string
                          country:
                            type: string
                          countryCode:
                            type: string
                          type:
                            type: string
                            format: ''
                            enum:
                              - home
                              - work
                              - other
                          geoLocation:
                            type: object
                            properties:
                              latitude:
                                type: number
                              longitude:
                                type: number
                              altitude:
                                type: number
                              accuracy:
                                type: number
                              altitudeAccuracy:
                                type: number
                              heading:
                                type: number
                              speed:
                                type: number
                              timestamp:
                                type: number
                          customFields:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                fieldName:
                                  type: string
                                fieldValue:
                                  type: string
                                fieldType:
                                  type: string
                                  format: ''
                                  enum:
                                    - text
                                    - number
                                    - date
                                    - boolean
                                    - enum
                                    - json
                                    - array
                          subdivisionCode:
                            type: string
                      company:
                        type: string
                        format: company
                      currency:
                        type: string
                        format: currency
                      notes:
                        type: string
                        format: notes
                      createdAt:
                        type: number
                        format: '1234567890'
                      updatedAt:
                        type: number
                        format: '1234567890'
                      status:
                        type: string
                        format: status
                        enum:
                          - active
                          - inactive
                          - archived
                      customerSegment:
                        type: string
                        format: customerSegment
                      customerType:
                        type: string
                        format: customerType
                        enum:
                          - retail
                          - wholesale
                      loyaltyProgramMembership:
                        type: string
                        format: loyaltyProgramMembership
                      preferredContactMethod:
                        type: string
                        format: preferredContactMethod
                        enum:
                          - email
                          - phone
                          - mail
                          - sms
                      tags:
                        type: array
                        items:
                          type: string
                      metadata:
                        type: string
                        format: metadata
                      socialProfiles:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              format: ''
                              enum:
                                - facebook
                                - twitter
                                - linkedin
                                - instagram
                                - tiktok
                                - pinterest
                                - youtube
                                - other
                            username:
                              type: string
                            displayName:
                              type: string
                            url:
                              type: string
                            avatarUrl:
                              type: string
                            email:
                              type: string
                            additionalInfo:
                              type: object
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                            active:
                              type: boolean
                            deleted:
                              type: boolean
                      source:
                        type: string
                        format: source
                  passthrough:
                    type: object
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: integer
                        format: int64
                      latency:
                        type: integer
                        format: int32
                      platformRateLimitRemaining:
                        type: integer
                        format: int32
                      rateLimitRemaining:
                        type: integer
                        format: int32
                      cache:
                        type: object
                        properties:
                          hit:
                            type: boolean
                          ttl:
                            type: integer
                            format: int32
                          key:
                            type: string
                            format: string
                      transactionKey:
                        type: string
                        format: string
                      txn:
                        type: string
                        format: string
                      platform:
                        type: string
                        format: string
                      platformVersion:
                        type: string
                        format: string
                      connectionDefinitionKey:
                        type: string
                        format: string
                      action:
                        type: string
                        format: getOne | getMany | getCount | update | create | delete
                      commonModel:
                        type: string
                        format: string
                      commonModelVersion:
                        type: string
                        format: string
                      connectionKey:
                        type: string
                        format: string
                      hash:
                        type: string
                        format: string
                      heartbeats:
                        type: array
                        items:
                          type: string
                          format: string
                      totalTransactions:
                        type: integer
                        format: int32
              example:
                status: success
                statusCode: 200
                unified:
                  id: CUS1001
                  title: Mr.
                  fullName: Thomas A. Anderson
                  firstName: Thomas
                  middleName: A.
                  lastName: Anderson
                  email: neo@matrix.com
                  phoneNumber: 555-0165
                  dateOfBirth: '1962-03-11'
                  addresses:
                    - id: ADDR1001
                      contactId: CUS1001
                      accountId: ACC1001
                      firstName: Thomas
                      lastName: Anderson
                      name: Home Address
                      companyName: Matrix
                      email: neo@home.matrix
                      phone: 555-0166
                      street: 101 Lower Street
                      addressLine2: Apartment 303
                      city: Capital City
                      province: Fictional State
                      region: Machine City
                      postalCode: '101010'
                      postalCodeExtension: '1001'
                      country: Matrix Country
                      countryCode: MX
                      type: home
                      geoLocation:
                        latitude: 12.345678
                        longitude: 98.765432
                        altitude: 350.5
                        accuracy: 15
                        altitudeAccuracy: 10
                        heading: 270
                        speed: 5
                        timestamp: '2023-04-01T12:30:00Z'
                      customFields:
                        - id: CUSTF1001
                          fieldName: favoriteColor
                          fieldValue: Black
                          fieldType: text
                      subdivisionCode: ''
                  defaultAddress:
                    id: ADDR1001
                    contactId: CUS1001
                    accountId: ACC1001
                    firstName: Thomas
                    lastName: Anderson
                    name: Home Address
                    companyName: Matrix
                    email: neo@home.matrix
                    phone: 555-0166
                    street: 101 Lower Street
                    addressLine2: Apartment 303
                    city: Capital City
                    province: Fictional State
                    region: Machine City
                    postalCode: '101010'
                    postalCodeExtension: '1001'
                    country: Matrix Country
                    countryCode: MX
                    type: home
                    geoLocation:
                      latitude: 12.345678
                      longitude: 98.765432
                      altitude: 350.5
                      accuracy: 15
                      altitudeAccuracy: 10
                      heading: 270
                      speed: 5
                      timestamp: '2023-04-01T12:30:00Z'
                    customFields:
                      - id: CUSTF1001
                        fieldName: favoriteColor
                        fieldValue: Black
                        fieldType: text
                    subdivisionCode: ''
                  company: MetaCortex
                  currency: MXD
                  notes: Known as 'The One' in a parallel universe.
                  createdAt: '2023-03-28T15:22:00Z'
                  updatedAt: '2023-04-01T15:22:00Z'
                  status: active
                  customerSegment: VIP
                  customerType: retail
                  loyaltyProgramMembership: Platinum
                  preferredContactMethod: email
                  tags:
                    - chosen
                    - redpill
                  metadata: Additional customer-related data
                  socialProfiles:
                    - type: facebook
                      username: neo.matrix
                      displayName: Neo
                      url: https://www.facebook.com/neo.matrix
                      avatarUrl: https://www.example.com/avatar/neo.jpg
                      email: neo@matrix.social
                      additionalInfo: null
                      createdAt: '2023-01-02T10:00:00Z'
                      updatedAt: '2023-03-01T10:00:00Z'
                      active: true
                      deleted: false
                  source: Referral
                passthrough: {}
                meta:
                  timestamp: 1703870980782
                  latency: 36
                  platformRateLimitRemaining: 0
                  rateLimitRemaining: 0
                  cache:
                    hit: false
                    ttl: 0
                    key: ''
                  transactionKey: tx_ky::7fb4a1ee61454e61adf79f37251affc4
                  txn: 727cc0ecc6144f6782ca0d72486d3dea
                  platform: PlatformName
                  platformVersion: v1
                  connectionDefinitionKey: conn_def::7923c71ff5ae4119870bc42182c50cb7
                  action: getOne
                  commonModel: Customers
                  commonModelVersion: 1.0.0
                  connectionKey: platform::8e09f436-601a-40c4-97cd-f9347e924418
                  hash: >-
                    3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b
                  heartbeats: []
                  totalTransactions: 1
    delete:
      tags:
        - Customers
      summary: Delete customers
      description: Delete a single customers record
      parameters:
        - in: path
          name: id
          description: The id of the model
          required: true
          deprecated: false
          schema:
            type: string
            format: string
          example: cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    format: success | failure
                    minLength: 30
                    maxLength: 50
                  statusCode:
                    type: integer
                    format: int32
                    enum:
                      - 200
                      - 400
                      - 500
                  unified:
                    type: object
                  passthrough:
                    type: object
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: integer
                        format: int64
                      latency:
                        type: integer
                        format: int32
                      platformRateLimitRemaining:
                        type: integer
                        format: int32
                      rateLimitRemaining:
                        type: integer
                        format: int32
                      cache:
                        type: object
                        properties:
                          hit:
                            type: boolean
                          ttl:
                            type: integer
                            format: int32
                          key:
                            type: string
                            format: string
                      transactionKey:
                        type: string
                        format: string
                      txn:
                        type: string
                        format: string
                      platform:
                        type: string
                        format: string
                      platformVersion:
                        type: string
                        format: string
                      connectionDefinitionKey:
                        type: string
                        format: string
                      action:
                        type: string
                        format: getOne | getMany | getCount | update | create | delete
                      commonModel:
                        type: string
                        format: string
                      commonModelVersion:
                        type: string
                        format: string
                      connectionKey:
                        type: string
                        format: string
                      hash:
                        type: string
                        format: string
                      heartbeats:
                        type: array
                        items:
                          type: string
                          format: string
                      totalTransactions:
                        type: integer
                        format: int32
              example:
                status: success
                statusCode: 200
                unified: {}
                passthrough: {}
                meta:
                  timestamp: 1703870980783
                  latency: 36
                  platformRateLimitRemaining: 0
                  rateLimitRemaining: 0
                  cache:
                    hit: false
                    ttl: 0
                    key: ''
                  transactionKey: tx_ky::7fb4a1ee61454e61adf79f37251affc4
                  txn: 727cc0ecc6144f6782ca0d72486d3dea
                  platform: PlatformName
                  platformVersion: v1
                  connectionDefinitionKey: conn_def::7923c71ff5ae4119870bc42182c50cb7
                  action: delete
                  commonModel: Customers
                  commonModelVersion: 1.0.0
                  connectionKey: platform::8e09f436-601a-40c4-97cd-f9347e924418
                  hash: >-
                    3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b
                  heartbeats: []
                  totalTransactions: 1
    patch:
      tags:
        - Customers
      summary: Update customers
      description: Update a single customers record
      parameters:
        - in: path
          name: id
          description: The id of the model
          required: true
          deprecated: false
          schema:
            type: string
            format: string
          example: cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: id
                title:
                  type: string
                  format: title
                fullName:
                  type: string
                  format: fullName
                firstName:
                  type: string
                  format: firstName
                middleName:
                  type: string
                  format: middleName
                lastName:
                  type: string
                  format: lastName
                email:
                  type: string
                  format: email
                phoneNumber:
                  type: string
                  format: phoneNumber
                dateOfBirth:
                  type: number
                  format: '1234567890'
                addresses:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      contactId:
                        type: string
                      accountId:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      name:
                        type: string
                      companyName:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      street:
                        type: string
                      addressLine2:
                        type: string
                      city:
                        type: string
                      province:
                        type: string
                      region:
                        type: string
                      postalCode:
                        type: string
                      postalCodeExtension:
                        type: string
                      country:
                        type: string
                      countryCode:
                        type: string
                      type:
                        type: string
                        format: ''
                        enum:
                          - home
                          - work
                          - other
                      geoLocation:
                        type: object
                      customFields:
                        type: array
                        items:
                          type: object
                      subdivisionCode:
                        type: string
                defaultAddress:
                  type: object
                  properties:
                    id:
                      type: string
                    contactId:
                      type: string
                    accountId:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    name:
                      type: string
                    companyName:
                      type: string
                    email:
                      type: string
                    phone:
                      type: string
                    street:
                      type: string
                    addressLine2:
                      type: string
                    city:
                      type: string
                    province:
                      type: string
                    region:
                      type: string
                    postalCode:
                      type: string
                    postalCodeExtension:
                      type: string
                    country:
                      type: string
                    countryCode:
                      type: string
                    type:
                      type: string
                      format: ''
                      enum:
                        - home
                        - work
                        - other
                    geoLocation:
                      type: object
                      properties:
                        latitude:
                          type: number
                        longitude:
                          type: number
                        altitude:
                          type: number
                        accuracy:
                          type: number
                        altitudeAccuracy:
                          type: number
                        heading:
                          type: number
                        speed:
                          type: number
                        timestamp:
                          type: number
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          fieldName:
                            type: string
                          fieldValue:
                            type: string
                          fieldType:
                            type: string
                            format: ''
                            enum:
                              - text
                              - number
                              - date
                              - boolean
                              - enum
                              - json
                              - array
                    subdivisionCode:
                      type: string
                company:
                  type: string
                  format: company
                currency:
                  type: string
                  format: currency
                notes:
                  type: string
                  format: notes
                createdAt:
                  type: number
                  format: '1234567890'
                updatedAt:
                  type: number
                  format: '1234567890'
                status:
                  type: string
                  format: status
                  enum:
                    - active
                    - inactive
                    - archived
                customerSegment:
                  type: string
                  format: customerSegment
                customerType:
                  type: string
                  format: customerType
                  enum:
                    - retail
                    - wholesale
                loyaltyProgramMembership:
                  type: string
                  format: loyaltyProgramMembership
                preferredContactMethod:
                  type: string
                  format: preferredContactMethod
                  enum:
                    - email
                    - phone
                    - mail
                    - sms
                tags:
                  type: array
                  items:
                    type: string
                metadata:
                  type: string
                  format: metadata
                socialProfiles:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        format: ''
                        enum:
                          - facebook
                          - twitter
                          - linkedin
                          - instagram
                          - tiktok
                          - pinterest
                          - youtube
                          - other
                      username:
                        type: string
                      displayName:
                        type: string
                      url:
                        type: string
                      avatarUrl:
                        type: string
                      email:
                        type: string
                      additionalInfo:
                        type: object
                      createdAt:
                        type: number
                      updatedAt:
                        type: number
                      active:
                        type: boolean
                      deleted:
                        type: boolean
                source:
                  type: string
                  format: source
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    format: success | failure
                    minLength: 30
                    maxLength: 50
                  statusCode:
                    type: integer
                    format: int32
                    enum:
                      - 200
                      - 400
                      - 500
                  unified:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                  passthrough:
                    type: object
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: integer
                        format: int64
                      latency:
                        type: integer
                        format: int32
                      platformRateLimitRemaining:
                        type: integer
                        format: int32
                      rateLimitRemaining:
                        type: integer
                        format: int32
                      cache:
                        type: object
                        properties:
                          hit:
                            type: boolean
                          ttl:
                            type: integer
                            format: int32
                          key:
                            type: string
                            format: string
                      transactionKey:
                        type: string
                        format: string
                      txn:
                        type: string
                        format: string
                      platform:
                        type: string
                        format: string
                      platformVersion:
                        type: string
                        format: string
                      connectionDefinitionKey:
                        type: string
                        format: string
                      action:
                        type: string
                        format: getOne | getMany | getCount | update | create | delete
                      commonModel:
                        type: string
                        format: string
                      commonModelVersion:
                        type: string
                        format: string
                      connectionKey:
                        type: string
                        format: string
                      hash:
                        type: string
                        format: string
                      heartbeats:
                        type: array
                        items:
                          type: string
                          format: string
                      totalTransactions:
                        type: integer
                        format: int32
              example:
                status: success
                statusCode: 200
                unified: {}
                passthrough: {}
                meta:
                  timestamp: 1703870980785
                  latency: 36
                  platformRateLimitRemaining: 0
                  rateLimitRemaining: 0
                  cache:
                    hit: false
                    ttl: 0
                    key: ''
                  transactionKey: tx_ky::7fb4a1ee61454e61adf79f37251affc4
                  txn: 727cc0ecc6144f6782ca0d72486d3dea
                  platform: PlatformName
                  platformVersion: v1
                  connectionDefinitionKey: conn_def::7923c71ff5ae4119870bc42182c50cb7
                  action: update
                  commonModel: Customers
                  commonModelVersion: 1.0.0
                  connectionKey: platform::8e09f436-601a-40c4-97cd-f9347e924418
                  hash: >-
                    3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b
                  heartbeats: []
                  totalTransactions: 1
    parameters:
      - in: header
        name: X-INTEGRATIONOS-SECRET
        description: IntegrationOS API key
        required: true
        deprecated: false
        schema:
          type: string
          format: string
      - in: header
        name: X-INTEGRATIONOS-CONNECTION-KEY
        description: The unique identifier of a Connected Account
        required: true
        deprecated: false
        schema:
          type: string
          format: string
  /customers:
    description: List records
    get:
      tags:
        - Customers
      summary: List customers
      description: Get all customers records
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    format: success | failure
                    minLength: 30
                    maxLength: 50
                  statusCode:
                    type: integer
                    format: int32
                    enum:
                      - 200
                      - 400
                      - 500
                  unified:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: id
                        title:
                          type: string
                          format: title
                        fullName:
                          type: string
                          format: fullName
                        firstName:
                          type: string
                          format: firstName
                        middleName:
                          type: string
                          format: middleName
                        lastName:
                          type: string
                          format: lastName
                        email:
                          type: string
                          format: email
                        phoneNumber:
                          type: string
                          format: phoneNumber
                        dateOfBirth:
                          type: number
                          format: '1234567890'
                        addresses:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              contactId:
                                type: string
                              accountId:
                                type: string
                              firstName:
                                type: string
                              lastName:
                                type: string
                              name:
                                type: string
                              companyName:
                                type: string
                              email:
                                type: string
                              phone:
                                type: string
                              street:
                                type: string
                              addressLine2:
                                type: string
                              city:
                                type: string
                              province:
                                type: string
                              region:
                                type: string
                              postalCode:
                                type: string
                              postalCodeExtension:
                                type: string
                              country:
                                type: string
                              countryCode:
                                type: string
                              type:
                                type: string
                                format: ''
                                enum:
                                  - home
                                  - work
                                  - other
                              geoLocation:
                                type: object
                              customFields:
                                type: array
                                items:
                                  type: object
                              subdivisionCode:
                                type: string
                        defaultAddress:
                          type: object
                          properties:
                            id:
                              type: string
                            contactId:
                              type: string
                            accountId:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            name:
                              type: string
                            companyName:
                              type: string
                            email:
                              type: string
                            phone:
                              type: string
                            street:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                            province:
                              type: string
                            region:
                              type: string
                            postalCode:
                              type: string
                            postalCodeExtension:
                              type: string
                            country:
                              type: string
                            countryCode:
                              type: string
                            type:
                              type: string
                              format: ''
                              enum:
                                - home
                                - work
                                - other
                            geoLocation:
                              type: object
                              properties:
                                latitude:
                                  type: number
                                longitude:
                                  type: number
                                altitude:
                                  type: number
                                accuracy:
                                  type: number
                                altitudeAccuracy:
                                  type: number
                                heading:
                                  type: number
                                speed:
                                  type: number
                                timestamp:
                                  type: number
                            customFields:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  fieldName:
                                    type: string
                                  fieldValue:
                                    type: string
                                  fieldType:
                                    type: string
                                    format: ''
                                    enum:
                                      - text
                                      - number
                                      - date
                                      - boolean
                                      - enum
                                      - json
                                      - array
                            subdivisionCode:
                              type: string
                        company:
                          type: string
                          format: company
                        currency:
                          type: string
                          format: currency
                        notes:
                          type: string
                          format: notes
                        createdAt:
                          type: number
                          format: '1234567890'
                        updatedAt:
                          type: number
                          format: '1234567890'
                        status:
                          type: string
                          format: status
                          enum:
                            - active
                            - inactive
                            - archived
                        customerSegment:
                          type: string
                          format: customerSegment
                        customerType:
                          type: string
                          format: customerType
                          enum:
                            - retail
                            - wholesale
                        loyaltyProgramMembership:
                          type: string
                          format: loyaltyProgramMembership
                        preferredContactMethod:
                          type: string
                          format: preferredContactMethod
                          enum:
                            - email
                            - phone
                            - mail
                            - sms
                        tags:
                          type: array
                          items:
                            type: string
                        metadata:
                          type: string
                          format: metadata
                        socialProfiles:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                format: ''
                                enum:
                                  - facebook
                                  - twitter
                                  - linkedin
                                  - instagram
                                  - tiktok
                                  - pinterest
                                  - youtube
                                  - other
                              username:
                                type: string
                              displayName:
                                type: string
                              url:
                                type: string
                              avatarUrl:
                                type: string
                              email:
                                type: string
                              additionalInfo:
                                type: object
                              createdAt:
                                type: number
                              updatedAt:
                                type: number
                              active:
                                type: boolean
                              deleted:
                                type: boolean
                        source:
                          type: string
                          format: source
                  passthrough:
                    type: object
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: integer
                        format: int64
                      latency:
                        type: integer
                        format: int32
                      platformRateLimitRemaining:
                        type: integer
                        format: int32
                      rateLimitRemaining:
                        type: integer
                        format: int32
                      cache:
                        type: object
                        properties:
                          hit:
                            type: boolean
                          ttl:
                            type: integer
                            format: int32
                          key:
                            type: string
                            format: string
                      transactionKey:
                        type: string
                        format: string
                      txn:
                        type: string
                        format: string
                      platform:
                        type: string
                        format: string
                      platformVersion:
                        type: string
                        format: string
                      connectionDefinitionKey:
                        type: string
                        format: string
                      action:
                        type: string
                        format: getOne | getMany | getCount | update | create | delete
                      commonModel:
                        type: string
                        format: string
                      commonModelVersion:
                        type: string
                        format: string
                      connectionKey:
                        type: string
                        format: string
                      hash:
                        type: string
                        format: string
                      heartbeats:
                        type: array
                        items:
                          type: string
                          format: string
                      totalTransactions:
                        type: integer
                        format: int32
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        format: string
                      limit:
                        type: integer
                        format: int32
              example:
                status: success
                statusCode: 200
                unified:
                  - id: CUS1001
                    title: Mr.
                    fullName: Thomas A. Anderson
                    firstName: Thomas
                    middleName: A.
                    lastName: Anderson
                    email: neo@matrix.com
                    phoneNumber: 555-0165
                    dateOfBirth: '1962-03-11'
                    addresses:
                      - id: ADDR1001
                        contactId: CUS1001
                        accountId: ACC1001
                        firstName: Thomas
                        lastName: Anderson
                        name: Home Address
                        companyName: Matrix
                        email: neo@home.matrix
                        phone: 555-0166
                        street: 101 Lower Street
                        addressLine2: Apartment 303
                        city: Capital City
                        province: Fictional State
                        region: Machine City
                        postalCode: '101010'
                        postalCodeExtension: '1001'
                        country: Matrix Country
                        countryCode: MX
                        type: home
                        geoLocation:
                          latitude: 12.345678
                          longitude: 98.765432
                          altitude: 350.5
                          accuracy: 15
                          altitudeAccuracy: 10
                          heading: 270
                          speed: 5
                          timestamp: '2023-04-01T12:30:00Z'
                        customFields:
                          - id: CUSTF1001
                            fieldName: favoriteColor
                            fieldValue: Black
                            fieldType: text
                        subdivisionCode: ''
                    defaultAddress:
                      id: ADDR1001
                      contactId: CUS1001
                      accountId: ACC1001
                      firstName: Thomas
                      lastName: Anderson
                      name: Home Address
                      companyName: Matrix
                      email: neo@home.matrix
                      phone: 555-0166
                      street: 101 Lower Street
                      addressLine2: Apartment 303
                      city: Capital City
                      province: Fictional State
                      region: Machine City
                      postalCode: '101010'
                      postalCodeExtension: '1001'
                      country: Matrix Country
                      countryCode: MX
                      type: home
                      geoLocation:
                        latitude: 12.345678
                        longitude: 98.765432
                        altitude: 350.5
                        accuracy: 15
                        altitudeAccuracy: 10
                        heading: 270
                        speed: 5
                        timestamp: '2023-04-01T12:30:00Z'
                      customFields:
                        - id: CUSTF1001
                          fieldName: favoriteColor
                          fieldValue: Black
                          fieldType: text
                      subdivisionCode: ''
                    company: MetaCortex
                    currency: MXD
                    notes: Known as 'The One' in a parallel universe.
                    createdAt: '2023-03-28T15:22:00Z'
                    updatedAt: '2023-04-01T15:22:00Z'
                    status: active
                    customerSegment: VIP
                    customerType: retail
                    loyaltyProgramMembership: Platinum
                    preferredContactMethod: email
                    tags:
                      - chosen
                      - redpill
                    metadata: Additional customer-related data
                    socialProfiles:
                      - type: facebook
                        username: neo.matrix
                        displayName: Neo
                        url: https://www.facebook.com/neo.matrix
                        avatarUrl: https://www.example.com/avatar/neo.jpg
                        email: neo@matrix.social
                        additionalInfo: null
                        createdAt: '2023-01-02T10:00:00Z'
                        updatedAt: '2023-03-01T10:00:00Z'
                        active: true
                        deleted: false
                    source: Referral
                passthrough: {}
                pagination:
                  cursor: 23e6534fa96e810b3
                  limit: 100
                meta:
                  timestamp: 1703870980787
                  latency: 36
                  platformRateLimitRemaining: 0
                  rateLimitRemaining: 0
                  cache:
                    hit: false
                    ttl: 0
                    key: ''
                  transactionKey: tx_ky::7fb4a1ee61454e61adf79f37251affc4
                  txn: 727cc0ecc6144f6782ca0d72486d3dea
                  platform: PlatformName
                  platformVersion: v1
                  connectionDefinitionKey: conn_def::7923c71ff5ae4119870bc42182c50cb7
                  action: getMany
                  commonModel: Customers
                  commonModelVersion: 1.0.0
                  connectionKey: platform::8e09f436-601a-40c4-97cd-f9347e924418
                  hash: >-
                    3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b
                  heartbeats: []
                  totalTransactions: 1
    post:
      tags:
        - Customers
      summary: Create customers
      description: Create a single customers record
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: id
                title:
                  type: string
                  format: title
                fullName:
                  type: string
                  format: fullName
                firstName:
                  type: string
                  format: firstName
                middleName:
                  type: string
                  format: middleName
                lastName:
                  type: string
                  format: lastName
                email:
                  type: string
                  format: email
                phoneNumber:
                  type: string
                  format: phoneNumber
                dateOfBirth:
                  type: number
                  format: '1234567890'
                addresses:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      contactId:
                        type: string
                      accountId:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      name:
                        type: string
                      companyName:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      street:
                        type: string
                      addressLine2:
                        type: string
                      city:
                        type: string
                      province:
                        type: string
                      region:
                        type: string
                      postalCode:
                        type: string
                      postalCodeExtension:
                        type: string
                      country:
                        type: string
                      countryCode:
                        type: string
                      type:
                        type: string
                        format: ''
                        enum:
                          - home
                          - work
                          - other
                      geoLocation:
                        type: object
                      customFields:
                        type: array
                        items:
                          type: object
                      subdivisionCode:
                        type: string
                defaultAddress:
                  type: object
                  properties:
                    id:
                      type: string
                    contactId:
                      type: string
                    accountId:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    name:
                      type: string
                    companyName:
                      type: string
                    email:
                      type: string
                    phone:
                      type: string
                    street:
                      type: string
                    addressLine2:
                      type: string
                    city:
                      type: string
                    province:
                      type: string
                    region:
                      type: string
                    postalCode:
                      type: string
                    postalCodeExtension:
                      type: string
                    country:
                      type: string
                    countryCode:
                      type: string
                    type:
                      type: string
                      format: ''
                      enum:
                        - home
                        - work
                        - other
                    geoLocation:
                      type: object
                      properties:
                        latitude:
                          type: number
                        longitude:
                          type: number
                        altitude:
                          type: number
                        accuracy:
                          type: number
                        altitudeAccuracy:
                          type: number
                        heading:
                          type: number
                        speed:
                          type: number
                        timestamp:
                          type: number
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          fieldName:
                            type: string
                          fieldValue:
                            type: string
                          fieldType:
                            type: string
                            format: ''
                            enum:
                              - text
                              - number
                              - date
                              - boolean
                              - enum
                              - json
                              - array
                    subdivisionCode:
                      type: string
                company:
                  type: string
                  format: company
                currency:
                  type: string
                  format: currency
                notes:
                  type: string
                  format: notes
                createdAt:
                  type: number
                  format: '1234567890'
                updatedAt:
                  type: number
                  format: '1234567890'
                status:
                  type: string
                  format: status
                  enum:
                    - active
                    - inactive
                    - archived
                customerSegment:
                  type: string
                  format: customerSegment
                customerType:
                  type: string
                  format: customerType
                  enum:
                    - retail
                    - wholesale
                loyaltyProgramMembership:
                  type: string
                  format: loyaltyProgramMembership
                preferredContactMethod:
                  type: string
                  format: preferredContactMethod
                  enum:
                    - email
                    - phone
                    - mail
                    - sms
                tags:
                  type: array
                  items:
                    type: string
                metadata:
                  type: string
                  format: metadata
                socialProfiles:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        format: ''
                        enum:
                          - facebook
                          - twitter
                          - linkedin
                          - instagram
                          - tiktok
                          - pinterest
                          - youtube
                          - other
                      username:
                        type: string
                      displayName:
                        type: string
                      url:
                        type: string
                      avatarUrl:
                        type: string
                      email:
                        type: string
                      additionalInfo:
                        type: object
                      createdAt:
                        type: number
                      updatedAt:
                        type: number
                      active:
                        type: boolean
                      deleted:
                        type: boolean
                source:
                  type: string
                  format: source
              required:
                - id
                - title
                - fullName
                - firstName
                - middleName
                - lastName
                - email
                - phoneNumber
                - dateOfBirth
                - addresses
                - defaultAddress
                - company
                - currency
                - notes
                - createdAt
                - updatedAt
                - status
                - customerSegment
                - customerType
                - loyaltyProgramMembership
                - preferredContactMethod
                - tags
                - metadata
                - socialProfiles
                - source
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    format: success | failure
                    minLength: 30
                    maxLength: 50
                  statusCode:
                    type: integer
                    format: int32
                    enum:
                      - 200
                      - 400
                      - 500
                  unified:
                    type: object
                    properties:
                      id:
                        type: string
                        format: id
                      title:
                        type: string
                        format: title
                      fullName:
                        type: string
                        format: fullName
                      firstName:
                        type: string
                        format: firstName
                      middleName:
                        type: string
                        format: middleName
                      lastName:
                        type: string
                        format: lastName
                      email:
                        type: string
                        format: email
                      phoneNumber:
                        type: string
                        format: phoneNumber
                      dateOfBirth:
                        type: number
                        format: '1234567890'
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            contactId:
                              type: string
                            accountId:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            name:
                              type: string
                            companyName:
                              type: string
                            email:
                              type: string
                            phone:
                              type: string
                            street:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                            province:
                              type: string
                            region:
                              type: string
                            postalCode:
                              type: string
                            postalCodeExtension:
                              type: string
                            country:
                              type: string
                            countryCode:
                              type: string
                            type:
                              type: string
                              format: ''
                              enum:
                                - home
                                - work
                                - other
                            geoLocation:
                              type: object
                            customFields:
                              type: array
                              items:
                                type: object
                            subdivisionCode:
                              type: string
                      defaultAddress:
                        type: object
                        properties:
                          id:
                            type: string
                          contactId:
                            type: string
                          accountId:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                          name:
                            type: string
                          companyName:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
                          street:
                            type: string
                          addressLine2:
                            type: string
                          city:
                            type: string
                          province:
                            type: string
                          region:
                            type: string
                          postalCode:
                            type: string
                          postalCodeExtension:
                            type: string
                          country:
                            type: string
                          countryCode:
                            type: string
                          type:
                            type: string
                            format: ''
                            enum:
                              - home
                              - work
                              - other
                          geoLocation:
                            type: object
                            properties:
                              latitude:
                                type: number
                              longitude:
                                type: number
                              altitude:
                                type: number
                              accuracy:
                                type: number
                              altitudeAccuracy:
                                type: number
                              heading:
                                type: number
                              speed:
                                type: number
                              timestamp:
                                type: number
                          customFields:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                fieldName:
                                  type: string
                                fieldValue:
                                  type: string
                                fieldType:
                                  type: string
                                  format: ''
                                  enum:
                                    - text
                                    - number
                                    - date
                                    - boolean
                                    - enum
                                    - json
                                    - array
                          subdivisionCode:
                            type: string
                      company:
                        type: string
                        format: company
                      currency:
                        type: string
                        format: currency
                      notes:
                        type: string
                        format: notes
                      createdAt:
                        type: number
                        format: '1234567890'
                      updatedAt:
                        type: number
                        format: '1234567890'
                      status:
                        type: string
                        format: status
                        enum:
                          - active
                          - inactive
                          - archived
                      customerSegment:
                        type: string
                        format: customerSegment
                      customerType:
                        type: string
                        format: customerType
                        enum:
                          - retail
                          - wholesale
                      loyaltyProgramMembership:
                        type: string
                        format: loyaltyProgramMembership
                      preferredContactMethod:
                        type: string
                        format: preferredContactMethod
                        enum:
                          - email
                          - phone
                          - mail
                          - sms
                      tags:
                        type: array
                        items:
                          type: string
                      metadata:
                        type: string
                        format: metadata
                      socialProfiles:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              format: ''
                              enum:
                                - facebook
                                - twitter
                                - linkedin
                                - instagram
                                - tiktok
                                - pinterest
                                - youtube
                                - other
                            username:
                              type: string
                            displayName:
                              type: string
                            url:
                              type: string
                            avatarUrl:
                              type: string
                            email:
                              type: string
                            additionalInfo:
                              type: object
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                            active:
                              type: boolean
                            deleted:
                              type: boolean
                      source:
                        type: string
                        format: source
                  passthrough:
                    type: object
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: integer
                        format: int64
                      latency:
                        type: integer
                        format: int32
                      platformRateLimitRemaining:
                        type: integer
                        format: int32
                      rateLimitRemaining:
                        type: integer
                        format: int32
                      cache:
                        type: object
                        properties:
                          hit:
                            type: boolean
                          ttl:
                            type: integer
                            format: int32
                          key:
                            type: string
                            format: string
                      transactionKey:
                        type: string
                        format: string
                      txn:
                        type: string
                        format: string
                      platform:
                        type: string
                        format: string
                      platformVersion:
                        type: string
                        format: string
                      connectionDefinitionKey:
                        type: string
                        format: string
                      action:
                        type: string
                        format: getOne | getMany | getCount | update | create | delete
                      commonModel:
                        type: string
                        format: string
                      commonModelVersion:
                        type: string
                        format: string
                      connectionKey:
                        type: string
                        format: string
                      hash:
                        type: string
                        format: string
                      heartbeats:
                        type: array
                        items:
                          type: string
                          format: string
                      totalTransactions:
                        type: integer
                        format: int32
              example:
                status: success
                statusCode: 200
                unified:
                  id: CUS1001
                  title: Mr.
                  fullName: Thomas A. Anderson
                  firstName: Thomas
                  middleName: A.
                  lastName: Anderson
                  email: neo@matrix.com
                  phoneNumber: 555-0165
                  dateOfBirth: '1962-03-11'
                  addresses:
                    - id: ADDR1001
                      contactId: CUS1001
                      accountId: ACC1001
                      firstName: Thomas
                      lastName: Anderson
                      name: Home Address
                      companyName: Matrix
                      email: neo@home.matrix
                      phone: 555-0166
                      street: 101 Lower Street
                      addressLine2: Apartment 303
                      city: Capital City
                      province: Fictional State
                      region: Machine City
                      postalCode: '101010'
                      postalCodeExtension: '1001'
                      country: Matrix Country
                      countryCode: MX
                      type: home
                      geoLocation:
                        latitude: 12.345678
                        longitude: 98.765432
                        altitude: 350.5
                        accuracy: 15
                        altitudeAccuracy: 10
                        heading: 270
                        speed: 5
                        timestamp: '2023-04-01T12:30:00Z'
                      customFields:
                        - id: CUSTF1001
                          fieldName: favoriteColor
                          fieldValue: Black
                          fieldType: text
                      subdivisionCode: ''
                  defaultAddress:
                    id: ADDR1001
                    contactId: CUS1001
                    accountId: ACC1001
                    firstName: Thomas
                    lastName: Anderson
                    name: Home Address
                    companyName: Matrix
                    email: neo@home.matrix
                    phone: 555-0166
                    street: 101 Lower Street
                    addressLine2: Apartment 303
                    city: Capital City
                    province: Fictional State
                    region: Machine City
                    postalCode: '101010'
                    postalCodeExtension: '1001'
                    country: Matrix Country
                    countryCode: MX
                    type: home
                    geoLocation:
                      latitude: 12.345678
                      longitude: 98.765432
                      altitude: 350.5
                      accuracy: 15
                      altitudeAccuracy: 10
                      heading: 270
                      speed: 5
                      timestamp: '2023-04-01T12:30:00Z'
                    customFields:
                      - id: CUSTF1001
                        fieldName: favoriteColor
                        fieldValue: Black
                        fieldType: text
                    subdivisionCode: ''
                  company: MetaCortex
                  currency: MXD
                  notes: Known as 'The One' in a parallel universe.
                  createdAt: '2023-03-28T15:22:00Z'
                  updatedAt: '2023-04-01T15:22:00Z'
                  status: active
                  customerSegment: VIP
                  customerType: retail
                  loyaltyProgramMembership: Platinum
                  preferredContactMethod: email
                  tags:
                    - chosen
                    - redpill
                  metadata: Additional customer-related data
                  socialProfiles:
                    - type: facebook
                      username: neo.matrix
                      displayName: Neo
                      url: https://www.facebook.com/neo.matrix
                      avatarUrl: https://www.example.com/avatar/neo.jpg
                      email: neo@matrix.social
                      additionalInfo: null
                      createdAt: '2023-01-02T10:00:00Z'
                      updatedAt: '2023-03-01T10:00:00Z'
                      active: true
                      deleted: false
                  source: Referral
                passthrough: {}
                meta:
                  timestamp: 1703870980793
                  latency: 36
                  platformRateLimitRemaining: 0
                  rateLimitRemaining: 0
                  cache:
                    hit: false
                    ttl: 0
                    key: ''
                  transactionKey: tx_ky::7fb4a1ee61454e61adf79f37251affc4
                  txn: 727cc0ecc6144f6782ca0d72486d3dea
                  platform: PlatformName
                  platformVersion: v1
                  connectionDefinitionKey: conn_def::7923c71ff5ae4119870bc42182c50cb7
                  action: create
                  commonModel: Customers
                  commonModelVersion: 1.0.0
                  connectionKey: platform::8e09f436-601a-40c4-97cd-f9347e924418
                  hash: >-
                    3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b
                  heartbeats: []
                  totalTransactions: 1
    parameters:
      - in: header
        name: X-INTEGRATIONOS-SECRET
        description: IntegrationOS API key
        required: true
        deprecated: false
        schema:
          type: string
          format: string
      - in: header
        name: X-INTEGRATIONOS-CONNECTION-KEY
        description: The unique identifier of a Connected Account
        required: true
        deprecated: false
        schema:
          type: string
          format: string
  /customers/count:
    description: Get count of records
    get:
      tags:
        - Customers
      summary: Get customers count
      description: Get the count of customers records
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    format: success | failure
                    minLength: 30
                    maxLength: 50
                  statusCode:
                    type: integer
                    format: int32
                    enum:
                      - 200
                      - 400
                      - 500
                  unified:
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int32
                  passthrough:
                    type: object
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: integer
                        format: int64
                      latency:
                        type: integer
                        format: int32
                      platformRateLimitRemaining:
                        type: integer
                        format: int32
                      rateLimitRemaining:
                        type: integer
                        format: int32
                      cache:
                        type: object
                        properties:
                          hit:
                            type: boolean
                          ttl:
                            type: integer
                            format: int32
                          key:
                            type: string
                            format: string
                      transactionKey:
                        type: string
                        format: string
                      txn:
                        type: string
                        format: string
                      platform:
                        type: string
                        format: string
                      platformVersion:
                        type: string
                        format: string
                      connectionDefinitionKey:
                        type: string
                        format: string
                      action:
                        type: string
                        format: getOne | getMany | getCount | update | create | delete
                      commonModel:
                        type: string
                        format: string
                      commonModelVersion:
                        type: string
                        format: string
                      connectionKey:
                        type: string
                        format: string
                      hash:
                        type: string
                        format: string
                      heartbeats:
                        type: array
                        items:
                          type: string
                          format: string
                      totalTransactions:
                        type: integer
                        format: int32
              example:
                status: success
                statusCode: 200
                unified:
                  count: 1
                passthrough: {}
                meta:
                  timestamp: 1703870980794
                  latency: 36
                  platformRateLimitRemaining: 0
                  rateLimitRemaining: 0
                  cache:
                    hit: false
                    ttl: 0
                    key: ''
                  transactionKey: tx_ky::7fb4a1ee61454e61adf79f37251affc4
                  txn: 727cc0ecc6144f6782ca0d72486d3dea
                  platform: PlatformName
                  platformVersion: v1
                  connectionDefinitionKey: conn_def::7923c71ff5ae4119870bc42182c50cb7
                  action: getCount
                  commonModel: Customers
                  commonModelVersion: 1.0.0
                  connectionKey: platform::8e09f436-601a-40c4-97cd-f9347e924418
                  hash: >-
                    3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b
                  heartbeats: []
                  totalTransactions: 1
    parameters:
      - in: header
        name: X-INTEGRATIONOS-SECRET
        description: IntegrationOS API key
        required: true
        deprecated: false
        schema:
          type: string
          format: string
      - in: header
        name: X-INTEGRATIONOS-CONNECTION-KEY
        description: The unique identifier of a Connected Account
        required: true
        deprecated: false
        schema:
          type: string
          format: string
  /products/{id}:
    summary: Get a single record
    get:
      tags:
        - Products
      summary: Get products
      description: Get a single products record
      parameters:
        - in: path
          name: id
          description: The id of the model
          required: true
          deprecated: false
          schema:
            type: string
            format: string
            minLength: 30
            maxLength: 50
          example: cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    format: success | failure
                    minLength: 30
                    maxLength: 50
                  statusCode:
                    type: integer
                    format: int32
                    enum:
                      - 200
                      - 400
                      - 500
                  unified:
                    type: object
                    properties:
                      id:
                        type: string
                        format: id
                      title:
                        type: string
                        format: title
                      description:
                        type: string
                        format: description
                      prices:
                        type: array
                        items:
                          type: object
                          properties:
                            amount:
                              type: number
                            currency:
                              type: string
                      sku:
                        type: string
                        format: sku
                      skuValidation:
                        type: string
                        format: skuValidation
                        enum:
                          - global_unique
                          - local_unique
                          - none
                      images:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            src:
                              type: string
                            altText:
                              type: string
                            width:
                              type: number
                            height:
                              type: number
                            thumbnailSrc:
                              type: string
                            caption:
                              type: string
                            title:
                              type: string
                            mimeType:
                              type: string
                              format: ''
                              enum:
                                - image/jpeg
                                - image/png
                                - image/gif
                                - image/svg+xml
                                - image/webp
                            tags:
                              type: array
                              items:
                                type: string
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                            active:
                              type: boolean
                            deleted:
                              type: boolean
                      variants:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            productId:
                              type: number
                            title:
                              type: string
                            sku:
                              type: string
                            price:
                              type: number
                            compareAtPrice:
                              type: number
                            inventoryQuantity:
                              type: number
                            weight:
                              type: number
                            weightUnit:
                              type: string
                            requiresShipping:
                              type: boolean
                            taxable:
                              type: boolean
                            barcode:
                              type: string
                            imageId:
                              type: number
                            dimensions:
                              type: object
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                            status:
                              type: string
                              format: ''
                              enum:
                                - ACTIVE
                                - INACTIVE
                                - OUT_OF_STOCK
                                - DISCONTINUED
                            active:
                              type: boolean
                            deleted:
                              type: boolean
                      options:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            productId:
                              type: number
                            name:
                              type: string
                            values:
                              type: array
                              items:
                                type: string
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                      categories:
                        type: array
                        items:
                          type: string
                      tags:
                        type: array
                        items:
                          type: string
                      vendor:
                        type: string
                        format: vendor
                      inventoryQuantity:
                        type: number
                        format: inventoryQuantity
                      inventoryLocation:
[...]
